body:hover {
    filter: blur(10px); 
 
}
.canvas {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 50px;
    text-align: center;
    color: rgb(136, 4, 4);
    font-family: sans-serif;
    text-transform: uppercase;
}
@media (max-width: 500px){
    .canvas{
      font-family: serif;
      font-size: 20px;
    }
}